@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Inter-Regular.woff2") format("woff2"),
    url("../../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../../fonts/Inter-Italic.woff2") format("woff2"),
    url("../../fonts/Inter-Italic.woff") format("woff");
}

@font-face {
  font-family: "Inter Display";
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Inter-Display.woff2") format("woff2");
}