a {
  font-size: inherit;
  font-weight: inherit;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-skip: objects;
  text-decoration-skip-ink: auto;
  text-decoration-color: $color-link;
  text-underline-offset: 1px;
  color: inherit;
  -webkit-transition: all $duration-fast $ease;
  -moz-transition: all $duration-fast $ease;
  transition: all $duration-fast $ease;

  @media all and (min-width: $screen-sm) {
    text-decoration-thickness: 2px;
  }

  &:hover,
  &:focus {
    text-decoration-color: $color-link-hover;
    -webkit-transition: all $duration-fast $ease;
    -moz-transition: all $duration-fast $ease;
    transition: all $duration-fast $ease;
  }
}