a {
  font-size: inherit;
  font-weight: inherit;
  text-decoration: underline;
  text-decoration-color: $color-link;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration-color: $color-link-hover;
  }

}