/**
*
* Base => Links
*
*/

a {
  font-weight: inherit;
  color: inherit;
  -webkit-transition: all $duration-fast $ease;
  -moz-transition: all $duration-fast $ease;
  transition: all $duration-fast $ease;

  &:hover,
  &:focus {
    -webkit-transition: all $duration-fast $ease;
    -moz-transition: all $duration-fast $ease;
    transition: all $duration-fast $ease;
  }
}

#site-navigation,
#site-content,
#site-footer {
  a {
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-decoration-skip: none;
    text-decoration-skip-ink: none;
    text-decoration-color: rgba($color-greyish-purple, 0.65);

    &:hover,
    &:focus {
      text-decoration-color: rgba($color-purple, 0.8);
    }
  }
}
