/**
*
* Base => Typography
*
*/

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $unit200;
  font-weight: 400;
  font-family: $font-family-primary;
  line-height: 1.3;

  @media all and (min-width: $screen-lg) {
    margin-bottom: $unit300;
  }

  + p,
  + ul {
    margin-top: 0;
  }
}

h3,
h4,
h5,
h6 {
  margin-top: $unit400 + $unit100;

  @media all and (min-width: $screen-sm) {
    margin-top: $unit500;
  }

  @media all and (min-width: $screen-md) {
    margin-top: $unit600;
  }

  @media all and (min-width: $screen-lg) {
    margin-top: $unit600;
  }
}

p,
ul,
ol,
figure {
  margin-top: $unit200;

  @media all and (min-width: $screen-lg) {
    margin-top: $unit300;
  }
}

.display {
  font-family: $font-family-primary;
  font-size: calc(8rem * 0.4);
  font-weight: 400;
  line-height: 1.4;

  @media all and (min-width: $screen-sm) {
    font-size: calc(8rem * 0.5);
  }

  @media all and (min-width: $screen-md) {
    font-size: calc(8rem * 0.6);
  }

  @media all and (min-width: $screen-lg) {
    font-size: calc(8rem * 0.7);
  }

  @media all and (min-width: $screen-xl) {
    font-size: 8rem;
  }
}

h2 {
  margin-top: $unit500;
  font-size: calc(6.4rem * 0.4);
  letter-spacing: 0.075rem;

  &.page-title,
  &.post-title,
  &.entry-title {
    margin: 0;
  }

  @media all and (min-width: $screen-sm) {
    font-size: calc(6.4rem * 0.5);
  }

  @media all and (min-width: $screen-md) {
    margin-top: $unit700;
    font-size: calc(6.4rem * 0.6);
  }

  @media all and (min-width: $screen-lg) {
    margin-top: $unit700 + $unit200;
    font-size: calc(6.4rem * 0.7);
  }

  @media all and (min-width: $screen-xl) {
    font-size: 6.4rem;
  }
}

h3 {
  font-size: calc(4.4rem * 0.4);
  letter-spacing: 0.075rem;

  + h4 {
    margin-top: 0;
  }

  @media all and (min-width: $screen-sm) {
    // margin-top: $unit500;
    font-size: calc(4.4rem * 0.5);
  }

  @media all and (min-width: $screen-md) {
    //margin-top: $unit500;
    font-size: calc(4.4rem * 0.6);
  }

  @media all and (min-width: $screen-lg) {
    //margin-top: $unit600;
    font-size: calc(4.4rem * 0.7);
    line-height: 1.2;
  }

  @media all and (min-width: $screen-xl) {
    font-size: 4.4rem;
  }
}

h4,
h5,
h6 {
  //margin-bottom: 1rem;

  @media all and (min-width: $screen-md) {
    font-size: calc(3.2rem * 0.4);
  }

  @media all and (min-width: $screen-sm) {
    font-size: calc(3.2rem * 0.5);
  }

  @media all and (min-width: $screen-md) {
    font-size: calc(3.2rem * 0.6);
  }

  @media all and (min-width: $screen-lg) {
    //margin-bottom: 1.4rem;
    font-size: calc(3.2rem * 0.7);
  }

  @media all and (min-width: $screen-xl) {
    font-size: 3.2rem;
  }
}

ul {
  padding-left: 2.8rem;

  li {
    + li {
      padding-top: $unit100 / 2;
    }
  }
}

strong,
b {
  font-weight: 600;
}

.has-large-font-size {
  font-size: $font-size-base;
  line-height: 1.5;

  @media all and (min-width: $screen-md) {
    font-size: $font-size-large;
  }

  strong,
  b {
    font-weight: 600;
  }
}

.has-regular-font-size {
  font-size: $font-size-small;

  @media all and (min-width: $screen-md) {
    font-size: $font-size-base;
  }
}

.has-small-font-size {
  font-size: $font-size-smaller;

  @media all and (min-width: $screen-md) {
    font-size: $font-size-small;
  }
}
