h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  //font-family: "Inter Display";
  font-weight: 400;
}

h2 {
  font-size: 3.815em;
}

h3 {
  font-size: 3.052em;
}

h4 {
  font-size: 2.441em;
}

h5 {
  font-size: 1.953em;
}

h6 {
  font-size: 1.563em;
}