// Breakpoints
$screen-xs: 320px;
$screen-sm: 670px;
$screen-md: 748px;
$screen-lg: 1320px;
$screen-xl: 1554px;

// Containers
$container-site: 100%;
$container-content: 1520px;
$container-text: 70ch;
$spacing: 3.5em;
$padding: 2em;

// Light Mode 
$color-background: #F1EFF7;
$color-text: #241438;
$color-link: darken($color-background, 20);
$color-link-hover: darken($color-background, 50);

// Dark Mode
$dark-color-background: #0B0611;
$dark-color-text: #DAD8E0;
$dark-color-link: darken($dark-color-text, 20);
$dark-color-link-hover: darken($dark-color-text, 50);

// Transitions
$duration-fast: 0.2s;
$duration-normal: 0.4s;
$duration-slow: 0.6s;

$ease: cubic-bezier(0.29, 0, 0.28, 1); // https://cubic-bezier.com/#.29,0,.28,1
$ease-in: cubic-bezier(0.41,
    0.03,
    1,
    1); // https://cubic-bezier.com/#.41,.03,1,1
$ease-out: cubic-bezier(0,
    0.08,
    0.47,
    1); // https://cubic-bezier.com/#0,.08,.47,1
$ease-in-out: cubic-bezier(0.45,
    0,
    0.55,
    1); // https://cubic-bezier.com/#.45,0,.55,1

// Animation
@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}