**.DS_store
node_modules
.next
# next-video
videos/*
!videos/*.json
!videos/*.js
!videos/*.ts
public/_next-video

# next-video
assets/videos/*
!assets/videos/*.json
!assets/videos/*.js
!assets/videos/*.ts
public/_next-video

# next-video
assets/videos/*
!assets/videos/*.json
!assets/videos/*.js
!assets/videos/*.ts
public/_next-video

# next-video
assets/videos/*
!assets/videos/*.json
!assets/videos/*.js
!assets/videos/*.ts
public/_next-video
