**.DS_store
node_modules
package-lock.json
.next
package-lock.json
# next-video
videos/*
!videos/*.json
!videos/*.js
!videos/*.ts
public/_next-video

# next-video
assets/videos/*
!assets/videos/*.json
!assets/videos/*.js
!assets/videos/*.ts
public/_next-video

# next-video
assets/videos/*
!assets/videos/*.json
!assets/videos/*.js
!assets/videos/*.ts
public/_next-video

# next-video
assets/videos/*
!assets/videos/*.json
!assets/videos/*.js
!assets/videos/*.ts
public/_next-video

certificates