@import "base/variables";

#page-cv {
  
  h3 {    
    margin-bottom: $unit300;

    +h4 {
      margin-top: 0;
    }
  }
  
  h4 {
    margin-top: $unit300;
    margin-bottom: 0;
    
    @media all and (min-width: $screen-lg) {
      margin-top: $unit400;
    }
    
    + p {
      margin-top: $unit100 / 2;
    }
    
  }

}