@import "base/variables";
@import "components/page-hero";
@import "components/featured-projects";
@import "components/image-text-row";

h2.hide-on-desktop {
  @media all and (min-width: $screen-lg) {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }
}