@import "base/variables";
@import "components/portrait-images";
@import "layout/entry-header";
@import "layout/entry-content";

#site-content {
  max-width: 2560px;
  margin: 0 auto;
}

.single-project {
  .entry-header {
    h2 {
      margin-bottom: calc($unit100 / 2);
      
      @media all and (min-width: $screen-sm) {
        margin-bottom: $unit100;
      }
    }
  }
  
  .entry-thumbnail {
    margin: 0;
    
    img {
      min-width: 100%;
    }
  }
  
  .container {
    position: relative;
    margin-top: $unit100;
    
    @media all and (min-width: $screen-sm) {
      margin-top: $unit300;
    }
    
    @media all and (min-width: 873px) {
      display: grid;
      grid-template-columns: 3fr 9fr;
      gap: 0 $grid-gutter-column;
      justify-items: start;
    }
    
    @media all and (min-width: $screen-lg) {
      grid-template-columns: 2fr 9fr;
      margin-top: $unit400;
    }
    
    .entry-meta {
      display: block;
      
      @media all and (min-width: $screen-md) {
        font-size: 0.9em;
      }
      
      ul {
        margin: 0;
        padding: 0;
        
        @media all and (min-width: 873px) {
          position: sticky;
          top: $unit400;
          
        }
        
        li {
          list-style: none;
          margin: 0;
          padding: 0;
          
          +li {
            margin-top: $unit100;
            
            @media all and (min-width: $screen-md) {
              margin-top: $unit200;
            }
          }
          
          @media all and (min-width: 873px) {
            max-width: 20ch;
          }
          
          .title {
            display: block;
            margin-bottom: 0.4rem;
            font-size: 0.9em;
          }
        }
      }
    }
    
    .entry-content {
      margin-top: $unit400;
      
      @media all and (min-width: 873px) {
        margin: 0;
      }
      
      > figure:first-child,
      > p:first-child {
        margin-top: 0;
      }
    }
  }
}