@import "../scss/base/variables";

.work {
  display: grid;
  grid-template-columns: 1fr;
  gap: $padding / 2;
  margin-bottom: $spacing * 2;

  @media all and (min-width: $screen-sm) {
    grid-template-columns: 1fr 1fr;
    gap: calc($padding / 2) $padding;
    margin-bottom: $spacing * 1.5;

    img {
      height: 27vw !important;
    }
  }

  @media all and (min-width: $screen-xl) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
