.image-text-row {
  display: flex;
  flex-wrap: wrap;
  
  @media all and (min-width: $screen-md) {
    flex-wrap: nowrap;
  }
  
  &.align-center {
    .column {
      width: 100%;
      align-self: center;
    }
  }
  
  .column {
    flex-grow: 1;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word;
    
    @media all and (max-width: $screen-md) {
      flex-basis: 100% !important;
      
      &.has-image {
        margin-top: $unit200;
      }
    }
    
    @media all and (min-width: $screen-md) {
      flex-basis: 0;
      flex-grow: 1;
      
      &[style*="flex-basis"] {
        flex-grow: 0;
      }
      
      &.has-image {
        margin-top: 0;
      }
      
      +.column {
        margin-left: $unit200;
      }
      
      &.has-image.align-left {
        order: -1;
        margin-left: 0;
        margin-right: $unit200;
      }
    }
    
    p {
      &:first-child {
        margin-top: 0;
      }
    }
    
    p,
    figure {
      max-width: $container-text;
    }
  }
}
