section.page-hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 50vh;
  margin-top: $unit500;
  margin-bottom: $unit300;

  @media all and (min-width: $screen-sm) {
    margin-top: $unit600;
  }

  + section {
    margin-top: 0 !important;
  }

  p {
    max-width: $container-text;
  }
}