.featured-projects {
  .project {
    
    +.project {
      margin-top: $unit300;
      
      @media all and (min-width: $screen-md) {
        margin-top: $unit400;
      }
      
      @media all and (min-width: $screen-lg) {
        margin-top: $unit500;
      }
    }
    
    
    &:nth-child(odd) {
      @media all and (min-width: $screen-sm) {
        text-align: right;
      }

      a {
        text-align: left;
      }
    }
    
    a {
      display: inline-flex;
      flex-direction: column;
      text-decoration: none !important;
      
      @media all and (min-width: $screen-sm) {
        width: 75%;
      }
      
      figure {
        order: -1;
      }
      
      header {
        display: flex;
        flex-direction: column;
        margin-top: 0.8rem;
        
        .entry-title {
          margin-top: 0;
          margin-bottom: $unit100 / 2;
          text-decoration: underline;
          text-decoration-color: transparent;
          -webkit-transition: all $duration-fast $ease;
          -moz-transition: all $duration-fast $ease;
          transition: all $duration-fast $ease;
        }
      }
      
      &:hover,
      &:focus {
        header .entry-title {
          text-decoration-color: $color-link;
          -webkit-transition: all $duration-fast $ease;
          -moz-transition: all $duration-fast $ease;
          transition: all $duration-fast $ease;
        }
      }
    }
    
  }
}