section.page-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding-top: $unit500;
  padding-bottom: $unit500;
  text-align: center;

  @media all and (min-width: $screen-sm) {
    padding-top: $unit600;
    padding-bottom: $unit600;
  }

  @media all and (min-width: $screen-md) {
    min-height: 75vh;
  }

  + section {
    margin-top: 0 !important;
  }

  p {
    max-width: $container-text;
    margin-left: auto;
    margin-right: auto;
  }
}
