section.page-hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 68vh;
  padding-top: $unit500;
  padding-bottom: $unit500;

  @media all and (min-width: $screen-sm) {
    padding-top: $unit600;
    padding-bottom: $unit600;
  }

  + section {
    margin-top: 0 !important;
  }

  p {
    max-width: $container-text;
  }
}
