section.image-text-row {
  display: flex;
  flex-wrap: wrap;

  @media all and (min-width: $screen-md) {
    flex-wrap: nowrap;
  }

  h2,
  h3,
  h4 {
    margin-top: 0;
  }

  figure {
    margin-top: 0;
  }

  .column {
    flex-grow: 1;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word;

    &:not(:first-child) {
      margin-top: $unit200;
    }

    p:first-child {
      margin-top: 0;
    }

    @media all and (max-width: $screen-md) {
      flex-basis: 100% !important;
    }

    @media all and (min-width: 782px) {
      flex-basis: 0;
      flex-grow: 1;

      &[style*="flex-basis"] {
        flex-grow: 0;
      }

      &:not(:first-child) {
        margin-top: 0;
        margin-left: $unit400;
      }
    }

    &.align-center {
      width: 100%;
      align-self: center;
    }
  }
}
