.featured-projects {
  .project {
    +.project {
      margin-top: $unit500;
      
      @media all and (min-width: $screen-sm) {
        margin-top: $unit500;
      }
      
      @media all and (min-width: $screen-md) {
        margin-top: $unit600;
      }
    }
    
    a {
      display: flex;
      flex-direction: column;
      text-decoration: none !important;
      
      figure {
        order: -1;
      }
      
      header {
        display: flex;
        flex-direction: column;
        margin-top: $unit100;
        
        @media all and (min-width: $screen-sm) {
          margin-top: $unit200;
        }
        
        @media all and (min-width: $screen-md) {
          margin-top: 0;
        }
        
        .entry-title {
          margin-top: 0;
          text-decoration: underline;
          text-decoration-color: $color-link;
          -webkit-transition: all $duration-fast $ease;
          -moz-transition: all $duration-fast $ease;
          transition: all $duration-fast $ease;
        }
      }
      
      &:hover,
      &:focus {
        header .project-title {
          text-decoration-color: $color-link-hover;
          -webkit-transition: all $duration-fast $ease;
          -moz-transition: all $duration-fast $ease;
          transition: all $duration-fast $ease;
        }
      }
    }
  }
}