.featured-projects {
  .project {
    + .project {
      margin-top: $unit500;

      @media all and (min-width: $screen-sm) {
        margin-top: $unit500;
      }

      @media all and (min-width: $screen-md) {
        margin-top: $unit600;
      }
    }

    &:nth-child(even) {
      @media all and (min-width: $screen-md) {
        a {
          figure {
            order: -1;
            margin-right: $unit400;
          }
        }
      }
    }

    &:nth-child(odd) {
      @media all and (min-width: $screen-md) {
        a {
          figure {
            margin-left: $unit400;
          }
        }
      }
    }

    a {
      display: flex;
      flex-wrap: wrap;
      text-decoration: none !important;

      @media all and (min-width: $screen-md) {
        flex-wrap: nowrap;
      }

      header,
      figure {
        @media all and (min-width: $screen-md) {
          flex-basis: 0;
          flex-grow: 1;
          align-self: center;
        }
      }

      figure {
        order: -1;
        margin-top: 0;

        @media all and (min-width: $screen-md) {
          order: 0;
          flex-grow: 0;
          flex-basis: 50%;
        }
      }

      header {
        display: flex;
        flex-direction: column;
        margin-top: $unit100;

        @media all and (min-width: $screen-sm) {
          margin-top: $unit200;
        }

        @media all and (min-width: $screen-md) {
          margin-top: 0;
        }

        .project-meta {
          order: -1;
          font-size: $font-size-smallest;
          line-height: 1;
          letter-spacing: 0.05rem;
          color: $color-dark-purple;

          @media all and (min-width: $screen-sm) {
            font-size: $font-size-smaller;
          }

          @media all and (min-width: $screen-lg) {
            font-size: $font-size-small;
          }
        }

        .project-title {
          margin-top: 1.2rem;
          margin-bottom: 0;

          @media all and (min-width: $screen-md) {
            margin-top: $unit100;
          }
        }

        .project-description {
          margin-top: $unit100;

          @media all and (min-width: $screen-md) {
            margin-top: $unit200;
          }
        }
      }

      header .project-title {
        text-decoration: underline;
        text-decoration-color: rgba($color-purple, 0);
        -webkit-transition: all $duration-fast $ease;
        -moz-transition: all $duration-fast $ease;
        transition: all $duration-fast $ease;
      }

      &:hover,
      &:focus {
        header .project-title {
          text-decoration-color: rgba($color-purple, 0.8);
          -webkit-transition: all $duration-fast $ease;
          -moz-transition: all $duration-fast $ease;
          transition: all $duration-fast $ease;
        }
      }
    }
  }
}
