@import "../base/variables";

.display {
  margin-top: $spacing;
  font-size: 1em;
  
  @media all and (min-width: $screen-xs) {
    font-size: 1.3em;
  }
  
  @media all and (min-width: $screen-sm) {
    font-size: 1.5em;
  }
  
  @media all and (min-width: $screen-md) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    min-height: 65vh;
    font-size: 1.7em;
  }
  
  @media all and (min-width: $screen-xl) {
    min-height: 75vh;
  }
  
  p {
    margin: 0;
  }
}