@import "../base/variables";

.image_row {
  display: grid;
  height: 60vw;
  margin-top: $padding;
  grid-template-columns: 1fr 1fr;
  gap: $padding;
  overflow: hidden;
  
  figure {
    margin-top: 0;

  img {
    min-height: 100%;
    object-fit: cover;
  }
}
}