@import "../base/variables";

.image {
  margin-top: $padding;

  img {
    max-width: 100%;
    height: auto;

    @media all and (min-width: $screen-xl) {
      min-width: 100%;
    }
  }

  figcaption {
    font-size: 0.75em;
  }
}
