@import "../base/variables";

.projects {
  min-height: 80vh;
}

.project {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  
  &:hover,
  &:focus {
    .title {
      text-decoration: underline;
      text-decoration-color: $color-link-hover;
    }
  }
  
  + .project {
    margin-top: 1.5em;
  }
  
  figure {
    order: -1;
    
    img {
      width: 8em;
      height: 7em;
      object-fit: cover;
      
      @media all and (min-width: $screen-sm) {
        width: 9em;
        height: 9em;
      }

      @media all and (min-width: $screen-md) {
        width: 9em;
        height: 9em;
      }
    }
  }
  
  .title {
    width: 70%;
    margin-top: 0;
    margin-left: 0.5em;
    font-size: 1.4em;
  }
}