@import "../base/variables";

.entry {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: baseline;
  font-size: 0.85em;
  
  @media all and (min-width: $screen-lg) {
    font-size: 0.8em;
  }
  
  .header {
    max-width: $container-text;
    padding-left: 1em;

    @media all and (min-width: $screen-sm) {
      padding-left: 1.5em;
    }
    
    h3 {
      margin-top: 0;
    }
  }
  
  .time {  
    width: 55vw;

    @media all and (min-width: $screen-xs) {
      width: 20ch;
    }
  }
}