@import "../base/variables";

.row {
  margin-top: $spacing;

  &:first-child {
    margin-top: 0;
  }

  @media all and (min-width: $screen-sm) {
  display: flex;
  justify-content: space-between;
  }
}