@import "../base/variables";

.title {
  margin-top: 0;

  @media all and (min-width: $screen-sm) {
    margin-top: 0.1em;
  }

  @media all and (min-width: $screen-md) {
    margin-top: 0.5em;
    margin-bottom: 0.3em;
  }
}