#footer {
  position: relative;
  margin-bottom: 0;

  @media all and (min-width: $screen-md) {
    position: fixed;
    right: 1em;
    bottom: 0.5em;
  }

  a {
    text-decoration-color: transparent;

    &:hover,
    &:focus {
      text-decoration-color: $color-link-hover;
    }
  }
  
  .contact {
    text-align: right;

    li {
      display: inline-block;
    }
  }
}