@import "../base/variables";

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: $padding;
  font-size: 0.85em;
  
  @media all and (min-width: $screen-md) {
    font-size: 0.8em;
  }
  
  .site_title {
    margin: 0;
  }
  
  a {
    text-decoration-color: transparent;
    
    &:hover,
    &:focus {
      text-decoration-color: inherit;
    }
  }
}