/**
*
* Layout => Header
*
**/

#site-header {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: $unit100;
  padding-bottom: $unit100;
  @extend .site-padding;
  text-align: left;
  
  @media all and (min-width: $screen-sm) {
    padding-top: $unit200;
    padding-bottom: $unit200;
    font-size: inherit;
  }
  
  @media all and (min-width: $screen-md) {
    z-index: 1000;
  }
  
  .site-title,
  .site-menu-toggle {
    font-size: 0.9em;
    font-weight: 400;
  }
  
  .site-title {
    grid-area: title;
    margin-top: 0;
    
    a {
      text-decoration: none;
      text-decoration-color: $color-link !important;
      
      &:hover,
      &:focus {
        @media all and (min-width: $screen-md) {
          text-decoration: underline;
          text-decoration-color: $color-link !important;
        }
      }
    }
  }
  
  .site-menu-toggle {
    grid-area: menu;
    text-align: right;
    
    a {
      text-decoration: none;
      transition: none;
    }
    
    span[role="img"] {
      padding-right: 0.4rem;
    }
    
    @media all and (min-width: $screen-md) {
      display: none;
    }
  }
}
