/**
*
* Layout => Footer
*
**/

#site-footer {
  width: 100%;
  margin: $unit500 0 0 0;
  padding-top: $unit300;
  padding-bottom: $unit100;
  @extend .site-padding;
  
  @media all and (min-width: $screen-sm) {
    font-size: 0.95em;
  }
  
  @media all and (min-width: $screen-md) {
    margin-top: $unit600;
    padding-top: $unit400;
    padding-bottom: $unit300;
  }
  
  @media all and (min-width: $screen-lg) {
    padding-top: $unit500;
    font-size: 0.85em;
  }
  
  .footer-heading {
    @extend h4;
    margin-top: $unit400;
    margin-bottom: calc($unit100 / 2);
    
    @media all and (min-width: $screen-lg) {
      margin-top: $unit500;
      margin-bottom: $unit100;
    }
    
    &:first-of-type {
      margin-top: 0;
    }
  }
  
  ul {
    margin: 0;
    padding: 0;
    
    li {
      display: inline;
      list-style: none;
      padding-left: 0;
      
      +li {
        padding-left: calc($unit100 / 2);
      }
    }
  }
  
  a {
    text-decoration: none;
    text-decoration-color: $color-link !important;
    
    &:hover,
    &:focus {
      @media all and (min-width: $screen-md) {
        text-decoration: underline;
        text-decoration-color: $color-link !important;
      }
    }
  }
  
  #footer-byline,
  #to-the-top {
    width: 100%;
    font-size: 0.8em;
  }
  
  #footer-byline {
    margin-top: $unit400 + $unit100;
    line-height: 1.6;
    font-size: 0.9em;
    
    @media all and (min-width: $screen-md) {
      margin-top: 0;
      text-align: right;
    }
    
    p {
      margin: 0;
    }
  }
  
  #to-the-top {
    position: relative;
    display: block;
    margin-top: $unit100;
    
    text-align: right;
    
    @media all and (min-width: $screen-md) {
      display: none;
    }
    
    span {
      position: relative;
      top: 0;
      transition: all $duration-fast $ease-in-out;
    }
    
    &:hover > span,
    &:active > span,
    &:focus > span {
      top: -4px;
      transition: all $duration-fast $ease-in-out;
    }
  }
}