/**
*
* Layout => Menu 
*
**/

/* Behavior */
.menu-open {
  @media all and (max-width: $screen-md) {
    overflow: hidden;
  }

  #site-navigation {
    display: block;
    animation: slideLeft $duration-normal $ease-in-out 0.1s forwards;
    -webkit-animation: slideLeft $duration-normal $ease-in-out 0.1s forwards;
    -moz-animation: slideLeft $duration-normal $ease-in-out 0.1s forwards;
  }
}

.menu-close {
  #site-navigation {
    display: block;
    left: 0;
    animation: slideRight $duration-normal $ease-in-out 0.1s forwards;
    -webkit-animation: slideRight $duration-normal $ease-in-out 0.1s forwards;
    -moz-animation: slideRight $duration-normal $ease-in-out 0.1s forwards;

    @media all and (min-width: $screen-md) {
      left: 40vw;
    }

    @media all and (min-width: $screen-lg) {
      left: 50vw;
    }

    @media all and (min-width: $screen-xl) {
      left: 60vw;
    }
  }
}

@keyframes slideLeft {
  0% {
    left: 100vw;
  }

  100% {
    left: 0;
  }
}

@-webkit-keyframes slideLeft {
  0% {
    left: 100vw;
  }
  $font-family-secondary: "Fira Code", monospace;

  100% {
    left: 0;
  }
}

@media all and (min-width: $screen-md) {
  @keyframes slideLeft {
    0% {
      left: 100vw;
    }

    100% {
      left: 40vw;
    }
  }

  @-webkit-keyframes slideLeft {
    0% {
      left: 100vw;
    }

    100% {
      left: 50vw;
    }
  }
}

@media all and (min-width: $screen-lg) {
  @keyframes slideLeft {
    0% {
      left: 100vw;
    }

    100% {
      left: 50vw;
    }
  }

  @-webkit-keyframes slideLeft {
    0% {
      left: 100vw;
    }

    100% {
      left: 50vw;
    }
  }
}

@media all and (min-width: $screen-xl) {
  @keyframes slideLeft {
    0% {
      left: 100vw;
    }

    100% {
      left: 60vw;
    }
  }

  @-webkit-keyframes slideLeft {
    0% {
      left: 100vw;
    }

    100% {
      left: 60vw;
    }
  }
}

@keyframes slideRight {
  0% {
    left: 0;
  }

  100% {
    left: 100vw;
  }
}

@-webkit-keyframes slideRight {
  0% {
    left: 0;
  }

  100% {
    left: 100vw;
  }
}

@media all and (min-width: $screen-md) {
  @keyframes slideRight {
    0% {
      left: 40vw;
    }

    100% {
      left: 100vw;
    }
  }

  @-webkit-keyframes slideRight {
    0% {
      left: 40vw;
    }

    100% {
      left: 100vw;
    }
  }
}

@media all and (min-width: $screen-lg) {
  @keyframes slideRight {
    0% {
      left: 50vw;
    }

    100% {
      left: 100vw;
    }
  }

  @-webkit-keyframes slideRight {
    0% {
      left: 50vw;
    }

    100% {
      left: 100vw;
    }
  }
}

@media all and (min-width: $screen-xl) {
  @keyframes slideRight {
    0% {
      left: 60vw;
    }

    100% {
      left: 100vw;
    }
  }

  @-webkit-keyframes slideRight {
    0% {
      left: 60vw;
    }

    100% {
      left: 100vw;
    }
  }
}

/* Menu */
#site-navigation {
  z-index: 1000;
  display: none;
  overflow-y: scroll;

  position: fixed;
  top: 0;
  left: 100vw;

  background: $color-light-purple;
  width: 100%;
  height: 100%;

  padding-top: $unit200;
  padding-bottom: $unit200;
  @extend .site-padding;

  line-height: 1.25;

  @media all and (min-width: $screen-md) {
    width: 60%;
    padding-top: $unit300;
    padding-bottom: $unit300;
  }

  @media all and (min-width: $screen-lg) {
    width: 50%;
    padding-top: $unit400;
    padding-bottom: $unit400;
  }

  @media all and (min-width: $screen-xl) {
    width: 40%;
  }

  /* Menu content */
  .site-menu-title {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
    font-weight: 400;

    @media all and (min-width: $screen-sm) {
      font-size: 1.6rem;
      margin-bottom: $unit100;
    }

    @media all and (min-width: $screen-lg) {
      font-size: 2rem;
    }
  }

  .site-menu-content {
    margin-top: $unit600;

    @media all and (min-width: $screen-md) {
      height: 90%;
      margin-top: $unit600;
    }

    @media all and (min-width: $screen-lg) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    section + section {
      margin-top: $unit500;

      @media all and (min-width: $screen-lg) {
        margin-top: $unit600;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        font-size: 2rem;
        line-height: 1.6;

        @media all and (min-width: $screen-lg) {
          font-size: 2.4rem;
        }
      }
    }

    /* Projects */
    #projects {
      margin: 0;

      li + li {
        padding-top: 0.4rem;

        @media all and (min-width: $screen-sm) {
          padding-top: $unit100 / 2;
        }

        @media all and (min-width: $screen-md) {
          //padding-top: $unit200;
        }
      }
    }

    /* Pages */
    #pages {
      margin: 0;

      li + li {
        padding-top: $unit100 / 2;

        @media all and (min-width: $screen-md) {
          padding-top: 1.2rem;
        }
      }
    }

    /* Contact */
    .contact {
      font-size: 1.6rem;

      @media all and (min-width: $screen-sm) {
        font-size: 2rem;
      }

      @media all and (min-width: $screen-lg) {
        font-size: 2rem;
      }
    }
  }
}
