/**
*
* Layout => Menu 
*
**/

/* Behavior */
.menu-open {
  @media all and (max-width: $screen-md) {
    overflow: hidden;
  }
  
  #site-navigation {
    display: block;
    
    @media all and (max-width: $screen-md) {
      animation: slideLeft $duration-normal $ease-in-out 0.1s forwards;
      -webkit-animation: slideLeft $duration-normal $ease-in-out 0.1s forwards;
      -moz-animation: slideLeft $duration-normal $ease-in-out 0.1s forwards;
    }
  }
}

.menu-close {
  #site-navigation {
    display: block;
    
    @media all and (max-width: $screen-md) {
      left: 0;
      animation: slideRight $duration-normal $ease-in-out 0.1s forwards;
      -webkit-animation: slideRight $duration-normal $ease-in-out 0.1s forwards;
      -moz-animation: slideRight $duration-normal $ease-in-out 0.1s forwards;
    }
    
    @media all and (min-width: $screen-md) {
      left: 40vw;
    }
    
    @media all and (min-width: $screen-lg) {
      left: 50vw;
    }
    
    @media all and (min-width: $screen-xl) {
      left: 60vw;
    }
  }
}

@keyframes slideLeft {
  0% {
    left: 100vw;
  }
  
  100% {
    left: 0;
  }
}

@-webkit-keyframes slideLeft {
  0% {
    left: 100vw;
  }
  
  100% {
    left: 0;
  }
}



@keyframes slideRight {
  0% {
    left: 0;
  }
  
  100% {
    left: 100vw;
  }
}

@-webkit-keyframes slideRight {
  0% {
    left: 0;
  }
  
  100% {
    left: 100vw;
  }
}

/* Menu */
#site-navigation {
  z-index: 1000;
  position: fixed;
  @extend .site-padding;
  
  @media all and (max-width: $screen-md) {
    display: none;
    overflow-y: scroll;
    top: 0;
    left: 100vw;
    
    background: $color-background;
    width: 100%;
    height: 100%;
    
    padding-top: $unit200;
    padding-bottom: $unit200;
    line-height: 1.6;
  }
  
  @media all and (min-width: $screen-md) {
    top: $unit300;
    right: $unit400;
    padding: 0;
  }
  
  @media all and (min-width: $screen-lg) {
    top: $unit400;
    right: $unit500;
  }
  
  @media all and (min-width: $screen-xl) {
    right: $unit500;
  }
  
  /* Menu content */
  .site-menu-content {
    @media all and (max-width: $screen-md) {
      margin-top: $unit600;
    }
    
    ul {
      margin: 0;
      padding: 0;
      
      li {
        padding: 0;
        list-style: none;
        
        + li {
          @media all and (max-width: $screen-md) {
            padding-top: 0.4rem;
          }
          
          @media all and (min-width: $screen-md) {
            padding-left: 0.8rem;
          }
        }
      }
    }
    
    section + section {
      @media all and (max-width: $screen-md) {
        margin-top: $unit500;
      }
    }
    
    nav {
      li {
        @media all and (min-width: $screen-md) {
          display: inline-block;
          font-weight: 400;
          
          a {
            text-decoration: none;
            text-decoration-color: $color-link !important;
            
            &:hover,
            &:focus {
              text-decoration: underline;
              text-decoration-color: $color-link;
            }
          }
        }
      }
    }
    
    /* Pages */
    #list-pages {
      @media all and (max-width: $screen-md) {
        margin: 0;
        font-size: 1.3rem;
      }
    }
    
    /* Contact */
    .menu-contact {
      p {
        @media all and (max-width: $screen-md) {
          font-size: 1rem;
        }
      }
    }
    
    /* Social profiles */ 
    .social-profiles {
      margin-top: 0.4rem;

      @media all and (max-width: $screen-md) {
        font-size: 1rem;
      }
    }
  }
  
  @media all and (min-width: $screen-md) {
    .menu-contact,
    #list-pages li.home {
      display: none;
    }
  }
}
