.meta {
  margin-top: 1em;

  ul {
    &.contributors,
    &.tools {
      display: inline-block;

      li {
        display: inline-block;
        
        + li {
          &:before {
            content: ", ";
          }
        }
      }
    }

    .location,
    .contributors,
    .period,
    .tools {
      margin-top: 0.3em;
    }
    
  }
}